@charset "UTF-8";

:root{
    --verde: #49a09d; 
    --lil치s: #5f2c82;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: var(--lil치s);
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 520px;
    border-radius: 20px;
    border-radius: 0px 0px 10px rgba(0, 0, 0, 0.452);

    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    background: var(--lil치s) url(../imagens/metal.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    padding-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

form > div.campo{
    background-color: var(--lil치s);
    display: block;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    margin: 5px 0px;
}

div.campo > label{
    display: none;
}

.entrar{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--verde);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.entrar:hover{
    background-color: #255352;
}

form > a.botao{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    color: #255352;
    border: 1px solid var(--verde);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    padding-top: 5px;
    margin-top: 5px;
    text-decoration: none;
}

form > a.botao:hover{
    background-color: #89eceb;
}

form > a.botao > i{
    font-size: 0.8em;
}